<div class="register-component">
  <mat-card>
    <mat-card-header class="padding-m">
      <mat-card-title>User Registration</mat-card-title>
      <!--<mat-card-subtitle>Create your account</mat-card-subtitle> PAra fazer no futuro-->
    </mat-card-header>

    <mat-card-content>
      <mat-form-field class="full-width">
        <mat-label>Complete Name</mat-label>
        <input matInput placeholder="Enter your full name" />
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>E-mail</mat-label>
        <input matInput placeholder="Enter your email" />
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Password</mat-label>
        <input matInput type="password" placeholder="Enter your password" />
      </mat-form-field>
    </mat-card-content>

    <mat-card-actions>
      <button mat-raised-button class="full-width">REGISTER</button>
    </mat-card-actions>
  </mat-card>
</div>
